*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

header{
    background:#111;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background:#222;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}

nav a:hover{
    color:orange;
}

.container{
    width:90%;
    margin:auto;
    padding:20px;
}

.products{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
}

.card{
    background:white;
    width:250px;
    margin:15px;
    padding:15px;
    border-radius:8px;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
    text-align:center;
}

.card img{
    width:100%;
    height:200px;
    object-fit:cover;
    border-radius:5px;
}

.card h3{
    margin:10px 0;
}

.card button{
    padding:10px;
    background:orange;
    border:none;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

.card button:hover{
    background:black;
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}
